.dev-style {
  margin-top: 47px;
}

.dev-description {
  display: flex;
  padding-right: 80px;
  margin-top: 50px;

  & .text {
    flex: 0 0 50%;

    & p a {
      background-color: #fec800;
      font-size: $font-text;
      color: $text-color;
    }

    & p:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      border-right: 1px solid #ebebeb;
      padding-right: 80px;
    }

    &:last-child {
      padding-left: 80px;
    }
  }
}
