.news-item {
  & .item-img-box {
    margin-bottom: 20px;
  }

  & .item-info {
    border-left: 1px solid #ebebeb;
    padding: 3px 0 5px 24px;

    & .date {
      color: #a3a3a3;
      font-size: 12px;
      font-weight: $Regular;
    }

    & .title {
      margin: 0;

      & a {
        display: block;
        max-height: 44px;
        color: #333333;
        font-family: $Exo;
        font-size: 18px;
        font-weight: $Regular;
        overflow: hidden;

        &:hover {
          color: $yellow-color;
        }
      }
    }
  }

  &:hover {
    & .item-img-box div div img {
      transform: scale(1.1);
    }
  }
}
