.news-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;

  & .news-item {
    flex: 0 0 29%;
    margin-bottom: 45px;
    margin-right: 3%;

    & .item-img-box {
      display: block;
      margin-bottom: 20px;

      & > div {
        position: relative;
        width: 100%;
        padding-bottom: 100%;

        & > div {
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;

          & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }

    & .item-info {
      border-left: 1px solid #ebebeb;
      padding: 3px 0 5px 24px;

      & .date {
        color: #a3a3a3;
        font-size: 12px;
        font-weight: $Regular;
      }

      & .title {
        margin: 0;

        & a {
          display: block;
          max-height: 44px;
          color: #333333;
          font-family: $Exo;
          font-size: 18px;
          font-weight: $Regular;
          overflow: hidden;

          &:hover {
            color: $yellow-color;
          }
        }
      }
    }
  }
}
