.menu-nav {
  & ul {
    & li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      & a {
        display: inline-block;
        padding: 8px 10px;
        color: $black-color;
        font-family: $Exo;
        font-size: $font-text;
        font-weight: $Regular;
        text-transform: uppercase;

        &:hover {
          background-color: $yellow-color;
        }
      }
    }

    & .sub-menu {
      & > a {
        position: relative;

        &::after {
          display: none;
          content: '';
          border: 0;
          background-image: url('../images/Rectangle_3_copy.svg');
          background-position: center;
          background-size: cover;
          width: 18px;
          height: 12px;
          margin-left: 9px;
          position: absolute;
          top: 50%;
          right: -15px;
          transform: translateY(-50%);
        }
      }

      & .sub-menu-nav {
        display: none;
        border-left: 1px solid #ebebeb;
        padding: 0 0 10px 21px;
        margin-left: 10px;

        & li {
          margin-bottom: 15px;

          &:last-child {
            margin: 0;
          }

          & a {
            color: $black-color;
            font-family: $Exo;
            font-size: 16px;
            font-weight: $Regular;
          }
        }
      }
    }
  }
}
